@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

body {
  font-family: Roboto;
}

h1 {
  text-align: center;
  width: 100%;
  background-color: #F5AB35;
  color: white;
  font-size: 4em;
  padding: 1em 0em;
  height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

.rank-container {
  width: 70%;
  margin: 100px auto;
}

.player-listing {
  background-color: #f7f7f7;
  height: 60px;
  width: 100%;
  text-align: center;
  line-height: 60px;
  color: #666;
  margin: 0;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
  font-size: 1.5em;
}

.player-rank {
  float: left;
  background-color: #F5AB35;
  height: 100%;
  text-align: center;
  width: 60px;
  display:inline-block;
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

.player-info {
  height: 80px;
  width: 100%;
  background-color: #EEEEEE;
  display: none;
  box-shadow: 0 1px 2px rgba(0,0,0, 0.1);
}

.player-score {
  height: 100%;
  width: 50%;
  float: left;
  text-align: center;
  margin: 0;
}

.player-score p {
  line-height: 80px;
  font-size: 3em;
  text-transform: uppercase;
  color: #52B3D9;
}

.player-WL {
  height: 100%;
  width: 50%;
  float: right;
  text-align: center;
  margin: 0 auto;
  color: #666;
}

.player-WL p {
  line-height: 80px;
  text-transform: uppercase;
  font-size: 3em;
}

.player-win {
  color: #87D37C;
}

.player-loss {
  color: #EC644B;
}

 h2 {
   margin: 0;
}

p {
  margin: 0;
}
